<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Detalle Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="main--form">
        
        <div class="images__products">
            <!-- <div><img class="image__product--grande" src="/images/<= images %>"
                alt="el-mateador-imagenes-01" /></div> -->
            <% for(let images of product.images) { %>
                <img class="image__product" id="images" name="images" src="/images/<%= images %>" alt="<%=product.name %>">
            <% } %>
        </div>
        <p class="titles"><%=product.name%></p>
        <p class="price">$<%=product.price%></p>


        <label class="color label" for="color">Color:</label>
        <select name="colors">
            <%  product.colors.map(colors => { %> 
                <option value="<%=colors%>"><%=colors%></option>
                <% }) %>
              </select>

        <label class="cantidad label" for="color">Cantidad:</label>
        <select name="color" id="color">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="3">5</option>
        </select>

        <div class="main__continuar">
            <a href="#"><button class="main__continuar--button">Comprar ahora</button></a>
        </div>
        <div class="main__continuar">
            <a href=""><button class="main__continuar--button">Agregar al carrito</button></a>
        </div>
        <div>
            <h4 class="titles details">Descripción</h4>
            <li class="product__details"><%=product.description%></li>
        </div>

    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>