<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Detalle Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="main--form">
        <div class="max--width">
        <div class="images__products">
            <% for( let i = 0; i < productos.producto.length; i++ ) { %>
                <img class="image__product" id="images" name="images" src="/images/<%= productos.producto[i].name %>" alt="<%=productos.producto[i].name%>">
            <% } %>
        </div>
        <p class="titles"><%=productos.name%></p>
        <p class="price">$<%=productos.price%></p>
        
        <span class="span--detail">
            <label class="label" for="color">Categoria:</label>
            <label class="price"> <%=productos.categorias.name%> </label>
        </span>

        <span class="span--detail">
            <label class="label" for="color">Colores:</label>
            <label class="price"> <%=productos.colores.name%> </label>
        </span>
        <br>
        <br>
        <span class="span--detail" >
            <label class="label" for="stock">Stock disponible:</label>
            <label class="price"> <%=productos.stock%> </label>
        </span>
        
        <span class="span--detail">
            <label class="label" for="cantidad">Cantidad:</label>
            <select class="select--stock" name="cantidad" id="cantidad">
                <option value="1">1 Unidad</option>
                <option value="2">2 Unidades</option>
                <option value="3">3 Unidades</option>
                <option value="3">4 Unidades</option>
            </select>
        </span>

        <div class="main__continuar">
            <a href="#"><button class="main__continuar--button">Comprar ahora</button></a>
        </div>
        <div class="main__continuar">
            <a href=""><button class="main__continuar--button">Agregar al carrito</button></a>
        </div>
        <div>
            <h4 class="titles details">Descripción</h4>
            <li class="product__details"><%=productos.description%></li>
        </div>
    </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>