<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Productos</title>
    <link rel="stylesheet" href="\css\productAll.css">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/productAllAdmin.css">
    
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="main--form">
        <!-- Todos los productos -->
		<div class="main--title">

			<h3 class="main__products--titular">Lista de Productos</h3>
			<!-- NEW PRODUCTS -->
			<a class="main__create--product--button" href="/admin/create"> 
				<i class="fa-solid fa-plus"></i> Crear Producto
			</a> 
		</div>
		<div class="main--div">
			<table class="table">
				<tr >
					<th class="admin--th"><a class="admin--th--href" href="/admin/index?orderBy=id&orderDirection=<%= orderDirection === 'ASC' ? 'DESC' : 'ASC' %>">
						<%= orderDirection === 'ASC' ? 'Id↑' : 'Id↓' %>
						</a>
					</th>
					<th class="admin--th"><a class="admin--th--href" href="/admin/index?orderBy=categoria&orderDirection=<%= orderDirection === 'ASC' ? 'DESC' : 'ASC' %>">
						<%= orderDirection === 'ASC' ? 'Categoría↑' : 'Categoría↓' %>
						</a>
					</th>
					<th class="admin--th">
						<a class="admin--th--href" href="/admin/index?orderBy=nombre&orderDirection=<%= orderDirection === 'ASC' ? 'DESC' : 'ASC' %>">
						<%= orderDirection === 'ASC' ? 'Nombre↑' : 'Nombre↓' %>
						</a>
					</th>
					<th class="admin--th">Imagen</th>
					<!-- <th class="admin--th"><a class="admin--th--href" href="/admin/index?orderBy=precio">Precio</a></th> -->
					<th class="admin--th">
						<a class="admin--th--href" href="/admin/index?orderBy=precio&orderDirection=<%= orderDirection === 'ASC' ? 'DESC' : 'ASC' %>">
						<%= orderDirection === 'ASC' ? 'Precio↑' : 'Precio↓' %>
						</a>
					</th>
					<th class="admin--th">
						<a class="admin--th--href" href="/admin/index?orderBy=stock&orderDirection=<%= orderDirection === 'ASC' ? 'DESC' : 'ASC' %>">
						<%= orderDirection === 'ASC' ? 'Stock↑' : 'Stock↓' %>
						</a>
					</th>
					<th class="admin--th">Descripción</th>
					<th class="admin--th">Editar / Borrar</th>
			  	</tr>
			  <% productos.forEach(product => { %>
				<tr>
					<td class="admin--td" ><%= product.id %></td>
					<td class="admin--td"><%=product.categorias.name%></td>
					<td class="admin--td"><%= product.name %></td>
					<td class="admin--td" style="width: 20%;">
						<% for( let i = 0; i < 1; i++ ) { %>
							<img class="figure__image--product" id="images" name="images" src="/images/<%= product.producto[i].name %>" alt="<%=product.producto[i].name%>">
						<% } %>
					</td>
					<td class="admin--td" style="font-weight: 450;">$ <%= product.discount_price %></td>
				  	<td class="admin--td"><%= product.stock %></td>
					<td class="admin__td--description" ><%= product.description %></td>
					<td class="admin--td">
						<a class="button--edit" href="update/<%=product.id%>">
							<i class="fa-solid fa-screwdriver-wrench"></i></a>
						<form action="/admin/delete/<%=product.id%>?_method=delete" method="POST" class="button--delete">
							<button class="button__delete" type="submit">
								<i class="fa-solid fa-trash-can"></i></button>
						</form>
					</td>
				</tr>
			  <% }) %>
			</table>
		</div>
	</main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>