<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Detalle Producto</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/iconWhatsapp.ejs') %>
   
    <main class="main--form">
        <div class="product-detail">
            <div class="product-images">
                <% for( let i = 0; i < 1; i++ ) { %>
                    <img class="main-image" id="images" name="images" 
                    src="/images/<%= productos.producto[i].name %>" 
                    alt="<%=productos.producto[i].name%>">
                <% } %>
                <div class="small-images">
                    <% for( let i = 1; i < productos.producto.length; i++ ) { %>
                        <img class="image__product" id="images" name="images" 
                        src="/images/<%= productos.producto[i].name %>" 
                        alt="<%=productos.producto[i].name%>">
                    <% } %>
                </div>
            </div>

            <div class="product-info">
                <h1 class="product-title"><%=productos.name%></h1>

                <div class="product--flex">
                    <% if (productos.discount > 0) { %>
                        <p class="section__article--discount"> <%=productos.discount%>% OFF</p>
                        <p class="section__article--discountNo"> $<%=productos.price%> </p>
                        <p class="section__article--discountYes"> $<%=productos.discount_price%> </p>
                    <% } else { %>
                        <p class="section__article--discountYes"> $<%=productos.discount_price%> </p>
                    <% }%>
                </div>

                <div class="product--flex">
                    <p class="product-description--tittle"> Categoria: </p>
                    <p class="product-description--detail"> <%=productos.categorias.name%> </p>
                </div>

                <div class="product--flex">
                    <p class="product-description--tittle"> Color: </p>
                    <p class="product-description--detail"> <%=productos.colores.name%> </p>
                </div>

                <div class="product--flex">
                    <p class="product-description--tittle"> Stock disponible: </p>
                    <p class="product-description--detail"> <%=productos.stock%> </p>
                </div>

                <div class="product--flex">
                    <p class="product-description--tittle" > Cantidad:</p>
                    <select class="product-description--detail" style="border-radius: 9px;" name="cantidad" id="cantidad">
                        <option value="1">1 Unidad</option>
                        <option value="2">2 Unidades</option>
                        <option value="3">3 Unidades</option>
                        <option value="3">4 Unidades</option>
                    </select>
                </div>

                <div>
                    <h4 class="product__detail--description">Descripción</h4>
                    <p class="product-description"><%=productos.description%></p>
                </div>

                <form action="/products/buyProduct">
                    <button type="submit" class="buy--button">Comprar ahora </button>
                </form>
                <br>
                <form action="">
                    <button type="submit" class="buy--button--cart">Agregar al carrito</button>
                </form>
        
            </div>
    </div>

    <p class="border"></p>

    <!-- Oferta de productos -->
    <div class="productRelacionado">
        <section class="main--section">
        
            <div class="main__secction--container">
                <!-- Ordenar aleatoriamente los productos -->
                <%productosSugeridos.sort(() => 0.5 - Math.random());
                // Seleccionar los primeros 4 productos
                const productosAlert= productosSugeridos.slice(0, 6);
                %>
                
                <% productosAlert.forEach ((product)=>{ %>
                    <section class="main__secction--article ">
                        <a class="product--href " style="text-decoration: none;" href="/products/productDetail/<%=product.id%>">
                            <% for( let i = 0; i < 1; i++ ) { %>
                                <img class="main__figure--img container--box" id="images" name="images" src="/images/<%= product.producto[i].name %>" alt="<%=product.producto[i].name%>">
                            <% } %>
                            <div class="article__div--flex container--box">
                                <% if (product.discount > 0) { %>
                                    <p class="section__article--discount"> <%=product.discount%>% OFF</p>
                                    <div style="flex-direction: column;">
                                        <p class="section__article--discountYes"> $<%=product.discount_price%> </p>
                                        <p class="section__article--descripcion"> <%=product.name %> </p>
                                        
                                    </div>
                                <% } else { %>
                                    <p class="section__article--descripcion"> <%=product.name %> </p>
                                    <p class="section__article--precio"> $<%=product.discount_price%> </p>
                                <% }%>
                            </div>
                        </a>
                    </section>
                <% }) %>
            </div>
        
        </section>    
    </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>