<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="\css\normalize.css">
    <link rel="stylesheet" href="\css\styles.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="main--form">
        <form action="/product/:id" method="POST" enctype="multipart/form-data">
            
            <!-- <input type="image" name="image" id="image" accept=".jpg,.png" src="/images/<%= product.images[0] %>"   multiple> -->
            <label class="name" for="name">Nombre:</label></br>
            <input class="name" value="<%= product.name %>" required></br>
            <label class="description" for="description">Descripción:</label></br>
            <textarea class="description" cols="35" rows="6"><%= product.description %></textarea></br>
            
            <div class="images__products">
                <% for(let image of product.images) { %>
                    <img class="image__product" src="/images/<%= image %>" alt="<%= product.name %>">
                <% } %>
            </div>

            <label class="price" for="price">Precio:</label>
            <input class="price" value="$<%= product.price %>"></br>
            <label class="color label" for="color">Color:</label>
            <select name="color" id="color">
                <option value="<%= product.colors[0] %>"><%= product.colors[0] %></option>
                <option value="<%= product.colors[1] %>"><%= product.colors[1] %></option>
                <option value="<%= product.colors[2] %>"><%= product.colors[2] %></option>
            </select> </br>
            
            <label class="stock" for="color">Stock:</label>
            <input class="stock" value="<%= product.stock %>" ></br>
            <label class="category" for="category">Categoría:</label>
            <input class="category" value="<%= product.category %>" >

        </form>

    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>