<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Productos</title>
    <link rel="stylesheet" href="\css\productAll.css">
	<link rel="stylesheet" href="/css/index.css">
    
</head>

<body>

    <%- include('../partials/header.ejs') %>
	<%- include('../partials/iconWhatsapp.ejs') %>
    
    <main class="main--form">
        <!-- Productos con oferta -->
		<h3 class="main__products--titulares">Ofertas imperdibles</h3>
		<!-- Ordenar aleatoriamente los productos -->
		<% const aleatorioProduct = productos.sort(() => 0.5 - Math.random()) %>
		
		<div class="main--div--all">
			<% productos.forEach ((product)=>{ %>
				<section class="product-box--all">
				<a class="product--href" href="productDetail/<%=product.id%>">
					<figure class="product-box_image">
						<% for( let i = 0; i < 1; i++ ) { %>
							<img class="image__product" id="images" name="images" src="/images/<%= product.producto[i].name %>" alt="<%=product.producto[i].name%>">
							<% } %>
					</figure>
					<p class="product-box_data"><%=product.name %></p>
					<div class="article__div--flex">

						<div class="main__offer">
							<p class="section__article--discount"> <%=product.discount%>% OFF</p>
							<p class="section__article--discountNo"> $<%=product.price%> </p>
							<p class="section__article--discountYes"> $<%=product.discount_price %> </p>
						</div>
					</div>
				</a>
				</section>
			<% }) %>
		</div>
</main>

    <%- include('../partials/footer.ejs') %>

</body>

</html>