<!DOCTYPE html>
<html lang="es">
<head>
    <title><%=productos.name%></title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productEdit.css">
</head>

<body>
    <%- include('../partials/headerReduce.ejs') %>
    
    <main class="main--form">
        <form action="/admin/update/<%=productos.id%>?_method=PUT" method="POST" class="product--form">
            <label class="main__register--titulares">Editar producto 

            </label>
            
            <div class="control--form">
                <label class="control__form--label" for="id" >ID del Producto:</label>
                <input class="main__input--control"  type="text" id="id" name="id" value="<%=productos.id%>" placeholder="ID producto" disabled>
            </div>

            <div class="control--form">
                <label class="control__form--label" for="name" >Nombre del producto:</label>
                <input class="main__input--control name"  type="text" id="name" name="name" value="<%=productos.name%>" placeholder="Nombre del producto">
            </div>
            <div class="erroresName"><ul></ul></div>

            <div class="control--form">
                <label class="control__form--label" for="description" >Descripción:</label>
                <textarea class="main__input--control description" name="description" id="description" cols="15" rows="6"><%=productos.description%></textarea>
            </div>
            <div class="erroresDescription"><ul></ul></div>
            
            <div class="control__form--photo">
                <label for="images" class="control__form--label">Imágenes:</label>
                <% for( let i = 0; i < productos.producto.length; i++ ) { %>
                    <img class="image__product" id="images" name="images" src="/images/<%= productos.producto[i].name %>" alt="<%=productos.producto[i].name%>">
                <% } %>
            </div>
     

            <div class="control--form">
                <label class="control__form--label" for="price" >Precio:</label>
                <input type="number" class="main__input--control prices"  id="price" name="price" value="<%=productos.price%>" placeholder="Precio">
            </div>
            <div class="erroresPrice"><ul></ul></div>
            



        

            <label class="control__form--label"for="discount">Porcentaje Descuento</label>
            <input type="number" class="main__input--control prices" id="discount" name="discount" value="<%=productos.discount%>">
            










                <label class="control__form--label" for="colores" >Colores:</label>
                <select name="colores" id="colores" class="main__input--control">
                    <% for( let i = 0; i <colores.length; i++ ) { %>
                         <% if (colores[i].id == productos.color_id) { %>
                            <option value="<%= colores[i].id %>" selected>
                                <%= colores[i].name %>
                            </option> 
                        <% } else { %>
                            <option value="<%= colores[i].id %>">
                                <%= colores[i].name %>
                            </option>  
                        <% } %>
                    <% } %>
                </select>
           

            <div class="control--form">
                <label class="control__form--label" for="stockProduct" >Stock disponible:</label>
                <input class="main__input--control stocks"  type="number" id="stock" name="stock" value="<%=productos.stock%>" placeholder="Stock">
            </div>
            <div class="erroresStock"><ul></ul></div>

            <label class="control__form--label" for="categorias">Categoría</label>
            <select name="categorias" id="categorias" class="main__input--control">
                <% for( let i = 0; i <categorias.length; i++ ) { %>
                    <% if (categorias[i].id == productos.category_id) { %>
                        <option value="<%= categorias[i].id %>" selected>
                            <%= categorias[i].name %>
                        </option> 
                    <% } else { %>
                        <option value="<%= categorias[i].id %>">
                            <%= categorias[i].name %>
                        </option>  
                    <% } %>
                <% } %>
            </select>
           
            <br>
            <div class="main--buttons">
                <button type="submit" class="main__buttons--products">Modificar</button>
                <a class="product--butt" href="/admin/">Cancelar</a>
            </div>
            
        </form>
    </main>

    <%- include('../partials/footerReduce.ejs') %>

    <script src="/scripts/validationEditProduct.js"></script>
</body>
</html>