<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <title>El Mateador</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
   
    <main class="main--home"  id="main">
        
        <div class="banner--slides">
            <img class="banner--slide" id="slider0" src="/images/slides/slide1.jpg">
        </div>
        
        <section class="main--section">
            <h3 class="main--titulares">Productos Destacados</h3>
           
            <div class="main__secction--container">
                <!-- Ordenar aleatoriamente los productos -->
                <%discountNo.sort(() => 0.5 - Math.random());
                // Seleccionar los primeros 4 productos
                const productosAleatorios = discountNo.slice(0, 4);
                %>
                
                <% productosAleatorios.forEach ((product)=>{ %>
                    <section class="main__secction--article">
                        <a class="product--href" style="text-decoration: none;" href="/products/productDetail/<%=product.id%>">
                            <% for( let i = 0; i < 1; i++ ) { %>
                                <img class="main__figure--img" id="images" name="images" src="/images/<%= product.producto[i].name %>" alt="<%=product.producto[i].name%>">
                            <% } %>
                            <div class="article__div--flex">
                                <p class="section__article--precio">$<%=product.price %>.-</p>
                                <p class="section__article--descripcion"> <%=product.name %> </p>
                            </div>
                        </a>
                    </section>
                <% }) %>
            </div>
        </section>    

        <div class="banner--slides">
            <img class="banner--slide" id="slider1" src="/images/slides/slide3.jpg">
        </div>

        <section class="main--section">
            <h3 class="main--titulares">Ofertas exclusivas</h3>
           
            <div class="main__secction--container">
                <!-- Ordenar aleatoriamente los productos -->
                <%discountYes.sort(() => 0.5 - Math.random());
                // Seleccionar los primeros 4 productos
                const aleatoriosProductos = discountYes.slice(0, 4);
                %>
                
                <% aleatoriosProductos.forEach ((product)=>{ %>
                    <section class="main__secction--article">
                        <a class="product--href" style="text-decoration: none;" href="/products/productDetail/<%=product.id%>">
                            <% for( let i = 0; i < 1; i++ ) { %>
                                <img class="main__figure--img" id="images" name="images" src="/images/<%= product.producto[i].name %>" alt="<%=product.producto[i].name%>">
                            <% } %>
                            <div class="article__div--flex">
                                <p class="section__article--precio"> <%=product.discount%>% descuento</p>
                                <p class="section__article--descripcion"> <%=product.name %> </p>
                            </div>
                        </a>
                    </section>
                <% }) %>
            </div>
        </section>    


        <section class="main--section">
            <h3 class="main__section--send">¿Por qué elegirnos?</h3>  
            <div class="main__section--bannerSend">
               <!--  <i class="fa-solid fa-chevron-left main__section--arrow"></i> -->
                           
                <article class="main__section--articleSend">
                    <a href="#">
                        <i class="fa-solid fa-truck-fast main__icon--send"></i>
                    </a>
                    <h4>Envíos a todo el país</h4>
                    <p>Envíos gratis a partir de $30000</p>                   
                </article>
                <!-- <i class="fa-solid fa-chevron-right main__section--arrow"></i>  -->  
                
            </div>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>
   
    <script src="scripts/bannerHome.js"></script>
    <script src="scripts/bannerHome.js"></script>
</body>
</html>

  
