<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/iconNav.ejs') %>
    <title>Favoritos</title>
</head>
<body>
    <h1>Favoritos</h1>
    <ul>
        <% favoritos.forEach(favorito => { %>
            <!-- <li><%= favorito.productoFavorit.name %> - <button onclick="removeFavorite(<%= favorito.id %>)">Eliminar</button></li> -->
            <div><%= favorito.productoFavorit.name %></div>
            <div><%= favorito.usuarioFavorit.name %></div>
            <% }) %>
    </ul>
    <script>
        function removeFavorite(favoritoId) {
            fetch('/api/users/favorite', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ favoritoId })
            })
            .then(response => response.text())
            .then(message => {
                alert(message);
                location.reload();
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>