<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <%- include('../partials/headerReduce.ejs') %>

    <main class="main--form">
        
        <form action="indexUsers" method="POST" class="form--register" enctype="multipart/form-data">
            <p class="main__register--titulares">Crear cuenta</p>

           
            <p class="main__input--desc">Nombre*</p>
            <input class="main__form--inputs name" type="text" name="name" id="name" value="<%= locals.old && old.name %>"  placeholder="Nombre">
             <% if (locals.errors && errors.name) { %>
                <li class= "input--error" ><%= errors.name.msg %></li>
            <% } %>
            <div class="erroresName"><ul></ul></div>

            <p class="main__input--desc">Apellido*</p>
            <input class="main__form--inputs lastName" type="text" name="lastName" id="lastName" value="<%= locals.old && old.lastName %>" placeholder="Apellido">
            
            <% if (locals.errors && errors.lastName) { %>
                <li class= "input--error"><%= errors.lastName.msg %></li>
            <% } %>
            <div class="erroresLastName"><ul></ul></div>
            
            <p class="main__input--desc">Correo electrónico*</p>            
            <input class="main__form--inputs email" type="email" name="userEmail" id="userEmail" value="<%= locals.old && old.userEmail %>"  placeholder="E-mail" >
            <% if (locals.errors && errors.userEmail) { %>
                <li class= "input--error"><%= errors.userEmail.msg %></li>
            <% } %>
            <div class="erroresEmail"><ul></ul></div>
            
            <p class="main__input--desc">Fecha de Nacimiento:</p>
            <input type="date" id="birthdate" name="birthdate" class="main__form--inputs" value="<%= locals.old && old.userBirthdate %>">
            
            <p class="main__input--desc" for="image">Foto Usuario:</p>
            <input class="main__form--inputs" type="file" name="image" id="image" accept=".jpg, .png, .svg">
            <div id="previewContainer"></div>
            <script src="/scripts/userRegisterPhoto.js"></script>

            <p class="main__input--desc">Contraseña*</p>
            <input class="main__form--inputs password" type="password" name="passwordUser" id="passwordUser" placeholder="Contraseña">
            <% if (locals.errors && errors.passwordUser) { %>
                <li class= "input--error"><%= errors.passwordUser.msg %></li>
            <% } %>
            <div class="erroresPassword"><ul></ul></div>
            

            <p class="main__input--desc">Repetir contraseña*</p>
            <input class="main__form--inputs" type="password" name="confirmPassword" id="confirmPassword" placeholder="Repetir Contraseña">
            <% if (locals.errors && errors.confirmPassword) { %>
                <li class= "input--error"><%= errors.confirmPassword.msg %></li>
            <% } %>
        
            <br>

            <div class="main--buttons">
                <button class="main__buttons--register" type="submit" >Crear cuenta</button>
                <a class="register__cancel--butt" href="/">Cancelar</a>
            </div>
            
            <div class="main__form--bottom-options">
                <p><a href="/users/login">¿Ya tengo Cuenta?</a></p>
            </div>
        </form>
    </main>
    
    <%- include('../partials/footerReduce.ejs') %>  %>

    <script src="/scripts/usersRegister.js"></script>
</body>
</html> 